canvas {
  border: 2px solid black;
  background-color: black;
}
video {
  display: none;
}

#glcanvas {
  position: absolute;
  left: 0;
  z-index: -20000;
}
@keyframes movecube {
  0% {
    transform: translate(calc(-1% * var(--amp)), calc(-20% * var(--amp)));
  }
  25% {
    transform: translate(calc(20% * var(--amp)), calc(0% * var(--amp)));
  }
  50% {
    transform: translate(calc(30% * var(--amp)), calc(20% * var(--amp)));
  }
  75% {
    transform: translate(calc(0% * var(--amp)), calc(-10% * var(--amp)));
  }
  100% {
    transform: translate(calc(-1% * var(--amp)), calc(-20% * var(--amp)));
  }
}

@keyframes scalecube {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
  }
}

/* Apply movecube to a wrapper and scalecube to the canvas */
.move-wrapper {
  animation: movecube 80s infinite cubic-bezier(0.4, 0, 0.6, 1);
}

.movecube {
  animation: scalecube 80s infinite cubic-bezier(0.4, 0, 0.6, 1);
}
